html{
    font-size: 20px;
}

#div1{
    width: 300px;
    height: 300px;
    background-color: red;
}

img{
    max-width: 100%;
    min-width: 200px;
}

#text{
    column-count: 3;
    width: 90%;
    margin: auto;
}

p{
    margin: 0;
}

h1{
    font-size: 1rem;
}

@media screen and (orientation: landscape){
    #div1{
        background-color: black;
    }
}

@media screen and (max-width:780px){
    /* 780 0r less */
    #div1{
        background-color: aqua;
    }

    #text{
        column-count: 2;
    }

    h1{
        font-size: 2rem;
    }
}

@media screen and (max-width:540px) {
    #div1{
        background-color: blueviolet;
    }

    #text{
        column-count: 1;
    }
}

@media screen and (width <= 540px) {
    #div1{
        background-color: blueviolet;
    }

    #text{
        column-count: 1;
    }
}

