body {
  overflow: hidden;
  /* does not give scroll bar */
}
div {
  width: 150px;
  height: 200px;
  display: inline-block;
  margin: 10px;
  padding: 10px;
  border: 2px dotted red;
  background-color: rgb(0, 0, 0, 0.3);
}

.visible {
  overflow: visible;
}

.hidden {
  overflow: hidden;
  /* hides the overflow content data is present but hidden */
}

.clip {
  overflow: clip;
  overflow-clip-margin: 20px;
}

.scroll {
  overflow: scroll;
  overflow-x: scroll;
  overflow-y: hidden;
}

.auto {
  overflow: auto;
  /* auto browser will decide but default is scroll but browser can put some other value */

}

/* overflow = visible,hide,clip,scroll,auto */