#outer{
    background: #add8e6 url(../images/bg.jpg) no-repeat center;
    background-size: cover;
    display: flex;
    justify-content: center;
    filter: opacity(50%);
    filter:blur(5px); 
    /* 1 to high value */
    filter:drop-shadow(10px 10px 10px red); 
    /* x and y axis values 10px 10px 10px standard deviation and color and negative value left side of the x part will be styled */

    filter: hue-rotate(120deg);
    /* color will change */

    filter:invert(100%);
    /* changes color of background and filter property is used to change backgound and background image */
    height: 400px;
    width: 400px;
}

#inner{
    background-color: rgba(255, 255, 255, 0.3);
    backdrop-filter: blur(5px);
    /* sunrise block will be blurred  */

    backdrop-filter: invert(100%);

    backdrop-filter: sepia(100%);

    padding: 20px;
    margin: auto;
    font-weight: bold;
}