.box{
    margin:20px;
    padding:10px;
    width: 150px;
    height: 150px;
    display:inline-block;
    background-color: red;
    font-size: 24px;
    line-height: 9rem;
    color: azure;
    text-align: center;
}

.box:hover{
    background-color: blue;
    color: yellow;
    height: 300px;
}

.trans{
    transition-duration: 2s;
    /* transition-property: color; */
    transition-property: background-color, color;
    /* transition-property: all; */
    transition-delay: 2s;
    
}