.box{
    margin: auto;
    margin-top: 100px;
    padding: 10px;
    width: 150px;
    height: 150px;
    background-color: red;
    font-size: 24px;
    color: azure;
    text-align: center;
    border: solid black;
    border-width: 10px 5px;
    transform: rotate(120deg);
    transform: rotate(1turn);
    transition: transform 2s ease-in-out;
}

body:hover .box{
    transform: rotate(0.5turn);
    transform: scale(1.5);
    transform: skew(100deg);
    transform: translate(100%);
    /* 2d transformation */
    transform: rotate(120deg) translate(100px) scale(0.5);

    transform: rotateX(60deg);
}