/* @media

media type -> screen , print, all -> all is default

media feature ->  */

#div1{
    width: 300px;
    height: 300px;
    background-color: crimson;
}

#text{
    column-count: 3;
    width: 90%;
    margin: auto;
}

p{
    margin: 0;
}

@media screen and (max-width:600px) {
    /* 780px or less */
    #div1{
    background-color: aqua;
}
#text{
    column-count: 2;
    
}

}